.container {
    margin: 5% 2%;
}

h1 {
    color: #007bff;
    text-align: center;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    padding: 5%;
}

.styled-table thead tr {
    background-color: #f2f2f2;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table .action-icons i {
    cursor: pointer;
    margin-right: 10px;
}

.styled-table .fas.fa-check {
    color: green;
}

.styled-table .fas.fa-times {
    color: red;
}

.styled-table .fas.fa-edit {
    color: #007bff;
}

.styled-table .fas.fa-eye {
    color: #555;
}

.styled-table a {
    color: #007bff;
    text-decoration: none;
}

.styled-table a:hover {
    color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
    .styled-table {
        font-size: 12px;
        padding: 3%;
    }

    .styled-table th,
    .styled-table td {
        padding: 10px;
    }

    .styled-table .action-icons i {
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 5% 1%;
    }

    h1 {
        font-size: 20px;
    }

    .styled-table {
        font-size: 10px;
        padding: 2%;
    }

    .styled-table th,
    .styled-table td {
        padding: 8px;
    }

    .styled-table .action-icons i {
        margin-right: 3px;
    }
}

/* Loader styles */
/* From Uiverse.io by satyamchaudharydev */
.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    margin: 20% auto;
}

.loading span {
    width: 4px;
    height: 50px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
}

.loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
}

.loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
}

.loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
}

@keyframes scale {

    0%,
    40%,
    100% {
        transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1);
    }
}